body {
    font-family: sans-serif;
    background-image: url("/images/background.jpg");
   
}
main {
    width: 960px;
    margin: auto;
    /* overflow: hidden; */
}
h2, h5, p, label {
    color: white;
}
