body {
    font-family: 'Delius Unicase', cursive;
    background-image: url("/pizzaapp/images/pontevecchioblu.jpeg");
    background-color:; 

}
main {
    width: 960px;
    margin: auto;
    /* overflow: hidden; */
}